[submodule "makelib"]
	path = lib/makelib
	url = https://gitlab.com/f.lib/makelib.git
[submodule "reveal-title-footer"]
	path = docs/plugin/title-footer
	url = https://github.com/e-gor/Reveal.js-Title-Footer.git
	ignore = dirty
