.reveal blockquote {
  box-shadow: none;
}
.font-size-mid table {
  font-size: 24px;
}

.benchmark {
  /* background-color: green; */
  font-size: 24px;
}

#trends-widget-1 {
  height: 450px;
}

section.top h1{
  margin-top: -270px;
}

#CRISP-DM p {
  font-size: 20px;
}

#CRISP img {
  height: 400px;
}
#CRISP p {
  font-size: 20px;
}

#main h1 {
  font-size: 32px;
  color: #B2B2B2;
}

.main h2 {
  font-size: 69px;
  }
